VITE_SUPABASE_URL=https://pxkiuhilkzwgzoyymnul.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB4a2l1aGlsa3p3Z3pveXltbnVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDExMTQ0NDksImV4cCI6MjA1NjY5MDQ0OX0.ErwnJ_ETZKPrR9ZuuB7jRsOcns2RyJPYHLisDuavoVE